.menu {
  height: 6vh;
  display: flex;
  justify-content: space-around;
}

.menu__header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__header > img {
  width: 22px;
  height: 22px;
  margin-right: 10px;
}

.menu > nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__list {
  display: flex;
}

.menu__list__item {
  margin-right: 1.5rem;
}

.menu__list__item__contato {
  font-weight: bold;
}
